.areaTag {
	position: fixed;
	bottom: 20px;
	left: 10px;
	height: 11px;
	font-size: 10px;
	overflow: hidden;
	line-height: 0px;
	width: 100px;
	animation: dropDownText 0.5s ease-out;
	animation-fill-mode: forwards;
}

@keyframes dropDownText {
	from {line-height: -20px;}
	to {line-height: 12px;}
}

.areaTag__circle {
	position: absolute;
	left: 0px;
	height: 11px;
	width: 11px;
	border: 1px solid black;
	border-radius: 50%;
}

.areaTag__line {
	position: absolute;
	top: 5px;
	height: 1px;
	width: 10px;
	left: 13px;
	background-color: black;
}

.areaTag__text {
	position: absolute;
	left: 28px;
	font-family: 'Montserrat', sans-serif;
}