.mainHeader__text {
	font-family: 'Bebas Neue';
	position: relative;
	top: 50%;
	animation: whiteTextAnimation 5s ease-in-out;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.mainHeader__col {
	position: relative;
	top: 45%;
}

.mainHeader__animation-block {
	position: absolute;
	top: 0;
	height: 100%;
	width: 0;
	background-color: red;
	animation: redBackgroundSlide 5s ease-in-out;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes redBackgroundSlide {
	0% { left: 0; width: 0;}
	20% { left: 0; width: 0;}
	29% {width: 100%; left: 0;}
	30% {width: 100%; right: 0;}
	32% {width: 100%; left: unset;}
	40% {width: 0%; right: 0;}
	100% {width: 0%; right: 0;}
}

@keyframes whiteTextAnimation {
	0% { color: black;}
	20% { color: black; }
	26% { color: white;}
	34% { color: white;}
	40% { color: black;}
	100% { color: black;}
}
