/*
  Headers
  font-family: 'Bebas Neue', cursive;

  Main
  font-family: 'Montserrat', sans-serif;
*/

:root {
  --red: #ED3F28;
}

.App {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
}

.centered {
  position: relative;
  top: 50%;
}

.section__about {
  position: relative;
  width: 100vw;
  /*top: 110vh;*/
  left: 0;
  margin-bottom: 40px;
}

.section__about__info {
  margin-top: 50px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.section__work {
  position: relative;
  width: 100vw;
  top: 10vh;
  left: 0;
  margin-bottom: 50px;
}