/*
  Headers
  font-family: 'Bebas Neue', cursive;

  Main
  font-family: 'Montserrat', sans-serif;
*/

:root {
  --red: #ED3F28;
}

.App {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
}

.whitespace__warning {
  position: absolute;
  top: 15px;
  left: 15px;
  color: grey;
}

.centered {
  position: relative;
  top: 50%;
}

.section__about {
  position: relative;
  width: 100vw;
  margin-top: 10vh;
  left: 0;
  margin-bottom: 40px;
}

.section__about__info {
  margin-top: 50px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.section__work {
  position: relative;
  width: 100vw;
  top: 10vh;
  left: 0;
  margin-bottom: 50px;
  height: 20vw;
}

.section__work-info {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 6vw;
}